{% extends "base.html" %}

{% block title %}About page{% endblock }
    <link rel="stylesheet" href="{{ url_for('static', filename='#') }}" />
{% block extra_css %} {% endblock %}

{% block content %}
    <div id="content-wrapper"> <!-- main wrapper display flex-->>
        <div class="container"> 
            <h1> Artisan Webpage, Here we build with your'e creative creation, <br>
                meet your end AHAHAH</h1>
            <p> The Creation of</p>
            
        </div>











    </div>


{% endblock %}