{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='new_blog_post.css') }}" />
{% endblock %}


{% block content %}
<div class="container mt-5">
  <h2>Create Blog Post</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control", rows=4) }}</div>
    <div class="mb-3">{{ form.media.label }} {{ form.media(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
  </form>
</div>
{% endblock %}
